@page
@model WattRescue.Pages.IndexModel
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>WattRescue</title>
</head>

<body>
    <h1>WattRescue</h1>
    <p>API disponible en <a href="/swagger">OpenAPI</a>.</p>
</body>

</html>