@page
@model Pages.IndexModel
@{
    ViewData["Title"] = "Library";
}

<ul>
    @foreach (var story in Model.Stories)
    {
        <img src="@story.Cover" alt="Cover Image" width="100" />
        <h2>@story.Title</h2>
    }
</ul>